body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
header {
    background-color: #810000;
    color: #360000;
    padding: 20px;
    text-align: center;
}
section {
    padding: 20px;
    margin: 20px;
    background-color: #fffffa;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.amo {
    width: 100%;
    }
    
    html, body {
        margin: 0;
        padding: 0;
      }